#advosysscreendump{
    height: 100%;
}

#page-container {
  position: relative;
  min-height: 100vh;
}
  
#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
  
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
 

body.bg-dark .card {
  background-color: #212529;
  color: #fff;
  border-color: #444;
}

body.bg-dark .accordion-button {
  background-color: #212529;
  color: #fff;
}

body.bg-dark .accordion-button:not(.collapsed) {
  background-color: #343a40;
  color: #fff;
}

body.bg-dark .accordion-body {
  background-color: #212529;
  color: #fff;
}

body.bg-dark .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
